@model Paging<DateTime>
@using System.Globalization;
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Розклад";
    List<Lesson> lessons = ViewBag.Lessons;
    List<LessonTime> times = ViewBag.LessonTime;
}
<table class="table table-bordered mt-3">
    <tr>
        @foreach (DateTime day in Model)
        {
            <td class="text-center">
                @day.Day<br />
                @{
                    string dayName = CultureInfo.GetCultureInfo("uk-UA").DateTimeFormat.GetDayName(day.DayOfWeek);
                }
                @char.ToUpper(dayName[0])@dayName.Substring(1)
            </td>
        }
    </tr>
    @foreach (LessonTime time in times)
    {
        <tr>
            @foreach (DateTime day in Model)
            {
                var lesson = lessons.Where(l => l.LessonDate == day && l.FkLessonTime == time.Id).FirstOrDefault();
                if (lesson == null)
                {
                    <td></td>
                }
                else
                {
                    <td>
                        @lesson.Theme<br />
                        @lesson.Homework<br />
                    </td>
                }
            }
        </tr>

    }
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="ClassSchedule"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-dark btn-sm @prevDisabled">Попередня сторінка</a>

<a asp-action="ClassSchedule"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-dark btn-sm @nextDisabled">Наступна сторінка</a>