@{
    Layout = "_MainLayout";
    ViewBag.Title = "Академічна успішність";
    double average = ViewBag.Average;
    User user = ViewBag.Student;
}
<h4 class="text-center mt-3">Успішність з предмету "@ViewBag.Subject"</h4>
<div class="row justify-content-center mt-3">
    <div class="col-lg-5">
        <table class="table table-striped">
            <tr>
                <td style="width:80%">Кількість оцінок високого рівня
                <td style="width:20%">@ViewBag.High</td>
            </tr>
            <tr>
                <td style="width:80%">Кількість оцінок достатнього рівня</td>
                <td style="width:20%">@ViewBag.MidHigh</td>
            </tr>
            <tr>
                <td style="width:80%">Кількість оцінок середнього рівня</td>
                <td style="width:20%">@ViewBag.Mid</td>
            </tr>
            <tr>
                <td style="width:80%">Кількість оцінок початкового рівня</td>
                <td style="width:20%">@ViewBag.Low</td>
            </tr>
            <tr>
                <td style="width:80%">Середній бал</td>
                <td style="width:20%">@Math.Round(average, 2)</td>
            </tr>
            <tr>
                <td style="width:80%">Кількість пропусків</td>
                <td style="width:20%">@ViewBag.Eps</td>
            </tr>
        </table>
    </div>
</div>


