@model Lesson
@{
    Layout = "_MainLayout";
    ViewBag.Title = $"Заняття за {Model.LessonDate.ToString("dd.MM.yyyy")}";
}
<div class="ml-md-3">
    <form method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.FkTeacher)
        @Html.HiddenFor(model => model.FkSubject)
        @Html.HiddenFor(model => model.FkClass)
        @Html.HiddenFor(model => model.FkSchoolYear)
        @Html.HiddenFor(model => model.FkLessonTime)
        @Html.HiddenFor(model => model.LessonDate)

        <label asp-for="Theme" for="Theme" style="color: #112031"><b>Тема заняття</b></label>
        <input asp-for="Theme" id="Theme" class="form-control col-5"/>

        <label asp-for="Homework" for="Homework" style="color: #112031"><b>Домашнє завдвння</b></label>
        <textarea asp-for="Homework" id="Homework" class="form-control col-5"></textarea>

        <button type="submit" class="btn text-center mt-md-3" style="background-color: #152D35; color: #D4ECDD;">Зберегти</button>
    </form>
</div>
